<head>

<h1>Welcome to Imaginarynation</h1>
</head>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://i.imgur.com/K4JqXLp.jpg">
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://i.imgur.com/OGz8MXD.png" >
    </div>
  </div>
<div class="col-sm-6 col-md-6">

    <div class="panel-body" style="height:100px">
      <p>"Beauty is power; a smile is its sword."</p>

    </div>
  </div>
</div>
</div>
