<head>

<h1>Welcome to Sublimation</h1>
</head>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://i.imgur.com/K4JqXLp.jpg">
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://i.imgur.com/OGz8MXD.png" >
    </div>
  </div>
<div class="col-sm-6 col-md-6">

    <div class="panel-body" style="height:100px">
      <p>"Beauty is power; a smile is its sword."<br>
        "The task in sublimation is that of shifting the instinctual aims
        in such a way that they cannot come up against frustration from the external world.<br>
        In this, sublimation of the instincts lends its assistance. One gains the most
        if one can sufficiently heighten the yield of pleasure from the sources of intellectual work.”<br>
        -Sigmund Freud<br>
        Sublimation allows you to channel your instincts through beautiful imagery.
      </p>

    </div>
  </div>
</div>
</div>
